<div class="cover">
    <div class="imgContainer mb-4">
        <img src="assets/admin.png" alt="admin">
    </div>
    <div class="FormContainer">
        <form (submit)="getLogs()">
            <div class="inputContainer mb-4 position-relative d-flex justify-content-center align-items-center flex-column">
                <input type="text" name="apiKey" (input)="onInput($event)" class="w-100 mb-0" placeholder="الرقم السري"  [(ngModel)]="apiKey">
            </div>
            <div class="btnsContainer ">
                <button type="submit" [class.active]="isTypedSecretKey()" [disabled]="isLoading()">
                
                    @if (isLoading()) {
                        جاري المعالجه من فضلك انتظر ...
                    } @else if (isTypedSecretKey()) {
                    الحصول على البيانات
                    } @else {
                    من فضلك ادخل الرقم السري
                    }
                
                </button>
                @if(isError()){
                <div class="item w-100">
                    <p class="alert alert-danger mt-4 m-auto text-center">
                        حدث خطأ، يرجى المحاولة مرة أخرى.
                        <img class="error" src="assets/alert.gif" alt="loaders">
                    </p>
                </div>
                }
            </div>
        </form>
    </div>
</div>