<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a routerLink="/" class="navbar-brand">
            <img src="assets/logo1.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0 pe-0">
                <li class="nav-item ms-4 " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-current="page" routerLink="">استعلام بمواصفات السيارة</a>
                </li>
                <li class="nav-item ms-4 " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-current="page" routerLink="/searchByVin">استعلام برقم الشاسيه</a>
                </li>
                <li class="nav-item ms-4 " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-current="page" routerLink="/dashBoard">احصائيات وبيانات</a>
                </li>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-current="page" routerLink="/about">عن النظام</a>
                </li>
                <li class="nav-item me-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-current="page"
                        routerLink="/team">فريق أوكتال</a>
                </li>
            </ul>
        </div>
        <div class="forAdmin">
            <a routerLink="/login">
                <img src="assets/settings.png" alt="">
            </a>
        </div>
    </div>
</nav>
<a routerLink="/team">
    <img src="assets/logo2.png" alt="octal" class="octal">
</a>